
body, html {
    height: 100%;
}

body {
    margin: 0 0 8px 0;
    font-family: LatoLatinWeb, Lato, Arial, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #23527c;
}

h1 {
    font-size: 53px;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 43px;
}

h3 {
    font-size: 36px;
}

.splash {
    height: calc(100% - 150px);
    background-size: cover;
    text-align: center;
    background: #292c34 url("img/gauss-crack.png") no-repeat fixed left;
}

.splash h1 {
    display: inline-block;
    box-shadow: 0 0 20px #fff;
    padding: 10px;
    color: #0f0;
    background-color: #000;
    margin: 10% 0 0;
    font-family: "Lucida Console", Monaco, monospace;
}

.blinking-cursor {
    animation: 1.2s blink step-end infinite;
}

@keyframes blink {
    from, to {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

.contributions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.contribution {
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project {
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}
